{% extends "base.html" %}

{% block content %}

<div class="profile-container">
    <div class="profile-card">

        <h2>Change Password</h2>

        <form method="POST">
            <label>Current Password</label>
            <input type="password" name="current_password" required>

            <label>New Password</label>
            <input type="password" name="new_password" required>

            <button type="submit" class="btn">Update</button>
        </form>

    </div>
</div>

{% endblock %}