{% extends "base.html" %}
{% block content %}

<div class="auth-wrapper">
  <div class="auth-card">
    <h2>Forgot Password</h2>
    <p>Enter your registered email to receive OTP</p>
    {% if error %}
    <div style="background:#ef4444; padding:10px; border-radius:8px; color:white;">
    {{ error }}
    </div>
    {% endif %}
    <form method="POST" action="/forgot-password">
      <label>Email</label>
      <input 
        type="email" 
        name="email" 
        placeholder="Enter your email" 
        required
      >

      <button type="submit">Send OTP</button>
    </form>

    <a href="/login">← Back to Login</a>
  </div>
</div>

{% endblock %}
